version: '3.1'

services:

  master_db:
    image: postgres:16.0-alpine3.18
    container_name: master_db
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5431:5432"
#    networks:
#      - webnet

  slave_db:
    image: postgres:16.0-alpine3.18
    container_name: slave_db
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5430:5432"
#    networks:
#     - webnet

networks:
  default:
    driver: bridge
    name: webnet
